:root {
  --main-bg-color: hsl(200, 80%, 95%);
  --accent-color: blue;
  --fallback-color: var(--undefined-color, green);
}
.meeting-notes {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 10px;
  margin-right: 10px;

  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;

  border-style: solid;
  border-width: 2px;
  border-color: #335;
  border-radius: 10px;

  background-color: #fefefe;
}

h1 {
  margin: 10px 20px 10px 20px;
  padding: 10px 20px;
  border: 1px solid blue;
  border-radius: 5px;
}

body {
  background-color: var(--main-bg-color);
  color: #333;
}

.meeting-notes {
  background-color: var(--fallback-color); 
  border-color: rgb(51, 51, 85); 
}

h1 {
  color: color-mix(in srgb, blue 40%, red 40%);
}

.flex-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 10px;
  margin: 20px;
  background-color: #333;
  padding: 10px;
}

.flex-box {
  background-color: green;
  padding: 20px;
  border-radius: 8px;
  flex: 1;
  text-align: center;
}


body {
  font-size: 18px;
}

.special-gothic-expanded-one-regular {
  font-family: "Special Gothic Expanded One", sans-serif;
  font-weight: 400;
  font-style: normal;
}

@media (max-width: 1024px) {
  body {
    background-color: lavender;
    font-size: 16px;
  }
}

@media (max-width: 600px) {
  body {
    background-color: green;
    font-size: 14px;
  }

  .flex-container {
    flex-direction: column;
  }
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin: 20px;
  padding: 10px;
  background-color: #f3f3f3;
}

.grid-box {
  background-color: purple;
  padding: 20px;
  text-align: center;
  border-radius: 8px;
}

.flex-container:has(.flex-box:hover) {
  background-color: lavender;
}
.grid-container {
  color: black;

  .grid-box {
    border: 2px dashed black;
  }
}
